<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% seo %}
</head>
<body>



    <div class="container">
        <!-- 사이드바 -->
        <aside class="sidebar">
            <div class="profile">
                <img src="{{ '/logo.jpg' | relative_url }}" alt="Profile Picture" class="profile-picture">
                <a href="{{ site.baseurl }}/" style="text-decoration: none; color:#000000; font-size:20px;">Park gyodam</a>
                <p class="bio">{{ site.bio }}</p>
                <a href="{{ site.social.links[0] }}" target="_blank">Git</a>
                <a href="{{ site.social.links[1] }}" target="_blank">Instagram</a>
                <a href="mailto:{{ site.email }}">이메일</a>
                
                <h3 style="color:black">Categories</h3>
                <ul class="category-list">
                    <p>전체 글 수 {{ site.posts | size }} 개</p>
                    {% assign sorted_categories = site.categories | sort %}
                    {% for category in sorted_categories %}
                    <li>
                        <!-- 카테고리 링크를 category.html로 연결 -->
                        <a href="{{ site.baseurl }}/categories/{{ category[0] | slugify }}/index.html" class="category-title">{{ category[0] }} ({{ category[1].size }})</a>
                        <ul class="subcategory-list">
                            {% assign subcategories = category[1] | map: "subcategory" | uniq %}
                            {% for subcategory in subcategories %}
                            <li class="subcategory-title">{{ subcategory }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
        
        <!-- 메인 콘텐츠 -->
        <main class="content">
            <h1>{{ page.title }}</h1>
            <div class="page-content">
                    {{ content }}
            </div>
        </main>
    </div>

    <footer class="site-footer">
                             <p>                         </p>&copy; {{ "now" | date: "%Y" }} {{ site.title }} - All rights reserved. 디자인은 너무 어려워 
    </footer>
</body>
</html>
