---
layout: default
---

<article class="post">
    <header class="post-header">
        <p class="post-meta">
            {{ page.date | date: "%Y년 %m월 %d일" }} | {{ page.categories | join: ", " }}
        </p>
    </header>
    


    <div class="post-content">
        <svg width="100%" height="5px">
            <line x1="0" y1="5" x2="5000" y2="5" stroke="#7d7c7c" stroke-width="6"/>
        </svg>
        {{ content }}
    </div>

    <footer class="post-footer">
        {% if page.tags %}
            <p>태그: {{ page.tags | join: ", " }}</p>
        {% endif %}

        {% if page.comments %}
            <h3>댓글</h3>
            <!-- 댓글 시스템 통합 (예: Disqus) -->
        {% endif %}
    </footer>

    <nav class="post-navigation">
        <p>{% if page.previous %} 이전 게시물: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a> {% endif %}</p>
        <p>{% if page.next %} 다음 게시물: <a href="{{ page.next.url }}">{{ page.next.title }}</a> {% endif %}</p>
    </nav>
</article>
